<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<div class="row items">

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item">
  <div class="item_inner">
        <img class="img-responsive" src="https://s16.stc.all.kpcdn.net/share/i/12/10993838/inx960x640.jpg" alt="">
    <div class="name-item">Парикмахерские услуги</div>
  </div></div>

</div>

</body>
</html>